{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body p-5">
                <h3 class="card-title text-center mb-4 text-primary fw-bold">Register New Patient</h3>

                <form method="POST" class="django-form">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6 form-row">
                            <label>First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6 form-row">
                            <label>Last Name</label>
                            {{ form.last_name }}
                        </div>
                    </div>

                    <div class="form-row">
                        <label>Age</label>
                        {{ form.age }}
                    </div>

                    <div class="form-row">
                        <label>Phone Number</label>
                        {{ form.phone }}
                    </div>

                    <div class="d-grid mt-5">
                        <button type="submit" class="btn btn-primary btn-lg shadow-sm">
                            Save Patient Record
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'patient_list' %}" class="text-muted text-decoration-none">&larr; Back to Patient List</a>
        </div>
    </div>
</div>

{% endblock %}